<div class="row">
  
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic Table</h4>
                <h6 class="card-subtitle">Add class <code>.table</code></h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>File Name</th>
                                <th>Sign Pdf</th>
                                <th>Signed File</th>
                                <th>action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Deshmukh</td>
                                <td><button type="submit" class="btn btn-success text-white"> <i class="fa fa-check"></i>sign pdf</button></td>
                                <td>@Genelia</td>
                                <td><span class="label label-danger">delete</span> </td>
                            </tr>
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <form action="#">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">PDF Upload</h4>
                    <label for="input-file-now" class="form-label">First upload pdf</label>
                    <input type="file" id="input-file-now" class="dropify" />
                </div>
                <button type="submit" class="btn btn-success text-white"> <i class="fa fa-check"></i> Save</button>
            <button type="button" class="btn btn-inverse">Cancel</button>
            </div>            
        </div>
    </form>
</div>