<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <!-- <li>
            <div class="hide-menu text-center">
                <div id="eco-spark"></div>
                <small>TOTAL EARNINGS - JUNE 2020</small>
                <h4>$2,478.00</h4>
            </div>
        </li> -->
        
        <li class="nav-small-cap">----DATA SCIENCE & ANALYSIS(AI)</li>
        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">DATA ANALYSIS <span class="badge rounded-pill bg-cyan ms-auto">3</span></span></a>
            <ul aria-expanded="false" class="collapse">
                <li><a href=" url 'index' %}">DATA VISULIZAATION</a></li>
                <li><a href=" url 'index' %}">BEST PRODUCTS</a></li>
                <li><a href=" url 'index' %}">EXPERT AI</a></li>
            </ul>
        </li>
     
    </ul>
</nav>